/* app css stylesheet */

body {
  padding-top: 20px;
    background-image: url('../img/ukkonen.png');
    background-repeat:no-repeat;
    background-position: right top 40px;
}

.lcsEntry {
  width:99%;
  margin-top:10px;
}

.clear-navbar {
  margin-top:60px;
}
.hint {
    font-size: .7em;
    color: #C0C0C0;
}

h1 {
  border-bottom: 1px solid gray;
}

.prettyprint .linenums {
    -webkit-box-shadow: inset 40px 0 0 #FBFBFC,inset 41px 0 0 #ECECF0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #FBFBFC,inset 41px 0 0 #ECECF0;
}

ol.linenums {
    margin: 0 0 0 33px;
}

ol.linenums li {
    padding-left: 12px;
    color: #333;
    line-height: 18px;
    text-shadow: 0 1px 0 #FFF;
}

.resultsLabel {
    display:block;
    float:left;
    width:100px;
}

.lcmContainer {
    display:block;
    float:left;
}

.findButtonBar {
    text-align:center;
}
